/*  your css code here. If applicable */
table,tr,td,th {
	border-collapse:collapse;
   
	border:1px solid orange;
}
th{
	background-color:#888888;
	color:white;
}
th,td{
	text-align:center;
	border-width:1px solid orange;
	padding:3px 5px;
}
.sub-total-text{
	text-align:right;
}
table{
	width:100vh
}